{% extends "base.twig" %}

{% block content %}

{# Styleguide Content Goes Here #}

<div class="container padding-y padding-lg">
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
        
            <h1 class="title title--xs">{{post.title}}</h1>
    
    </article>
</div><!-- /content-wrapper -->






<div class="mastcontent bg-color-lightest" role="main">
        <div class="container padding-y padding-lg">
            <div class="grid">
                <main class="main-content grid__column grid__column--12 grid__column--9--md flex-first flex-last--md">
        <span class="anchor" id="objects"></span>
    
        <div class="title-set">


                {% for posts in 0..4 %}
                    <h1 class="title">Twig Loop Baby (5 Times Through)</h1>					
                {% endfor %}

                {% for client in clients %}
                      <h1 style="color: red; background-color: yellow;">{{ client.title }}</h1>
                {% endfor %}


                {% for client in clients %}
                <h1>{{ client.title }}</h1>
                <img src="{{ Image(client.client_logo).src }}" />
                <img src="{{ Image(client.client_logo).src|letterbox(400, 400, '#333') }}" />
              {% endfor %}					



            <h1 class="title">Objects</h1>
            <p class="lead">These are class-based selectors that define undecorated design patterns. They are vital for layout and structure.</p>
        </div>
    
        <hr>
    
        <span class="anchor" id="zones"></span>
    
        <h2>Zones</h2>
    
        <p class="lead">
            These are opinionated sections that help define unique areas of your webpage such as the master header, content, and footer.
        </p>
    
        <div class="card card--outlined card--primary color-primary">
            <div class="card__content">
                Due to the naming of these areas being so opinionated we have built in Sass variables for these to be modified if you so choose.
            </div>
        </div>
    
        <pre class=" language-markup"><code class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>header</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>masthead<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>header</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>main</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>mastcontent<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>main</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>footer</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>mastfoot<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>footer</span><span class="token punctuation">&gt;</span></span></code></pre>
    
        <hr>
    
        <span class="anchor" id="containers"></span>
    
        <h2>Containers</h2>
    
        <p class="lead">
            These are large class selectors that can hold many other structures and components.
            Consider containers the "wrappers" that make your content properly fit the window's width.
            They will auto-set margins on all screen sizes.
        </p>
    
        <p>
            <code>.container</code>
        </p>
    
        <p>A full-width container:</p>
    
        <p>
            <code>.container.container--fluid</code>
        </p>
    
        <hr>
    
        <span class="anchor" id="flex-object"></span>
    
        <h2>Flex Object</h2>
    
        <p class="lead">
            The foundation for a modern extensible framework. The Flex Object is a flexbox based object we use to build other objects and components.
            Many principles of this object will be shared and seem familar with others.
        </p>
    
        <hr>
    
        <span class="anchor" id="grid"></span>
    
        <div class="title-set flex flex--stretch">
    
            <h2 class="flex__item">Grid</h2>
    
            <div class="card flex__item type-center">
                <div class="card__content">
                    <span class="type-small">Extends the Flex Object</span>
                </div>
            </div>
    
        </div>
    
        <p class="lead">
            The grid is a flexbox-based mobile-first responsive layout object. That is a mouthful in itself!
            With the addition of flexbox, the grid is a super-powerful system to help lay out your content.
        </p>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
    
                <div class="grid-example grid padding-xxxs padding-y">
                    <div class="grid__column bg-color-darker inverse">Auto</div>
                    <div class="grid__column bg-color-darker inverse">Auto</div>
                </div>
                <div class="grid-example grid padding-xxxs padding-y">
                    <div class="grid__column bg-color-darker inverse">2</div>
                    <div class="grid__column bg-color-darker inverse">2</div>
                    <div class="grid__column bg-color-darker inverse">2</div>
                    <div class="grid__column bg-color-darker inverse">2</div>
                    <div class="grid__column bg-color-darker inverse">2</div>
                    <div class="grid__column bg-color-darker inverse">2</div>
                </div>
                <div class="grid-example grid padding-xxxs padding-y">
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                </div>
    
                <div class="grid-example grid padding-xxxs padding-y">
                    <div class="grid__column grid__column--8 bg-color-darker inverse">8</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                    <div class="grid__column bg-color-darker inverse">1</div>
                </div>
    
            </div>
        </div>
    
        <h3>Grid Column Breakpoints</h3>
    
        <p>The grid column breakpoint classes are designed to be mobile-first. So <code>.grid__column--#</code> will be visible on the smallest viewports while <code>.grid__column--#--md</code> would take effect on medium viewsports. So the class <code>.grid__column--#</code> will always be visible until the next column class with a breakpoint modifier is used.</p>
    
        <pre class=" language-markup"><code class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>grid<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>grid__column grid__column--12 grid__column--#--sm <span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>...<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>grid__column grid__column--12 grid__column--#--md <span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>...<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>grid__column grid__column--12 grid__column--#--lg <span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>...<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>grid__column grid__column--12 grid__column--#--xl <span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>...<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
    
        <h3>Grid Horizontal Alignments</h3>
    
        <p>
            <code>.grid.grid--justify-start</code>
        </p>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
    
                <div class="grid-example grid grid--justify-start padding-xxs padding-y">
                    <div class="grid__column grid__column--4 bg-color-darker inverse">4</div>
                    <div class="grid__column grid__column--2 bg-color-darker inverse">2</div>
                </div>
    
            </div>
        </div>
    
        <p>
            <code>.grid.grid--justify-center</code>
        </p>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
    
                <div class="grid-example grid grid--justify-center padding-xxs padding-y">
                    <div class="grid__column grid__column--4 bg-color-darker inverse">4</div>
                    <div class="grid__column grid__column--2 bg-color-darker inverse">2</div>
                </div>
    
            </div>
        </div>
    
        <p>
            <code>.grid.grid--justify-end</code>
        </p>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
    
                <div class="grid-example grid grid--justify-end padding-xxs padding-y">
                    <div class="grid__column grid__column--4 bg-color-darker inverse">4</div>
                    <div class="grid__column grid__column--2 bg-color-darker inverse">2</div>
                </div>
    
            </div>
        </div>
    
        <h3>Grid Vertical Alignments</h3>
    
        <p>
            <code>.grid.grid--top</code>
        </p>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
    
                <div class="grid-example grid grid--top padding-xxs padding-y" style="height: 200px;">
                    <div class="grid__column bg-color-darker inverse">Auto</div>
                    <div class="grid__column bg-color-darker inverse">Auto</div>
                </div>
    
            </div>
        </div>
    
        <p>
            <code>.grid.grid--center</code>
        </p>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
    
                <div class="grid-example grid grid--center padding-xxs padding-y" style="height: 200px;">
                    <div class="grid__column bg-color-darker inverse">Auto</div>
                    <div class="grid__column bg-color-darker inverse">Auto</div>
                </div>
    
            </div>
        </div>
    
        <p>
            <code>.grid.grid--bottom</code>
        </p>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
                <div class="grid-example grid grid--bottom padding-xxs padding-y" style="height: 200px;">
                    <div class="grid__column bg-color-darker inverse">Auto</div>
                    <div class="grid__column bg-color-darker inverse">Auto</div>
                </div>
            </div>
        </div>
    
        <p>Individual columns within a grid can also have their own alignment:</p>
    
        <div class="grid">
            <div class="grid__column">
                <code>.grid__column.grid__column--top</code>
            </div>
            <div class="grid__column">
                <code>.grid__column.grid__column--center</code>
            </div>
            <div class="grid__column">
                <code>.grid__column.grid__column--bottom</code>
            </div>
        </div>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
                <div class="grid-example grid padding-xxs padding-y" style="height: 200px;">
                    <div class="grid__column grid__column--top bg-color-darker inverse">One of Three Columns</div>
                    <div class="grid__column grid__column--center bg-color-darker inverse">One of Three Columns</div>
                    <div class="grid__column grid__column--bottom bg-color-darker inverse">One of Three Columns</div>
                </div>
            </div>
        </div>
    
        <hr>
    
        <span class="anchor" id="lists"></span>
    
        <h2>Object Lists</h2>
    
        <p class="lead">These are plain undesigned lists that can be helpful to assemble common component types such as menus and navigation bars.</p>
    
        <h3>Unstyled List</h3>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
    
                <ul class="list list--unstyled">
                    <li class="list__item">List Item 1</li>
                    <li class="list__item">List Item 2</li>
                    <li class="list__item">List Item 3</li>
                </ul>
    
            </div>
        </div>
    
        <pre class=" language-markup"><code class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list list--unstyled<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list__item<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>List Item 1<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list__item<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>List Item 2<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list__item<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>List Item 3<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span></code></pre>
    
        <h3>Nulled List</h3>
    
        <p>
            This list modifier nullifies the default margins set on list items.
            Since content elements should be able to be classless, it makes sense to require a class for objects and components instead.
        </p>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
    
                <ul class="list list--nulled">
                    <li class="list__item">List Item 1</li>
                    <li class="list__item">List Item 2</li>
                    <li class="list__item">List Item 3</li>
                </ul>
    
            </div>
        </div>
    
        <pre class=" language-markup"><code class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list list--nulled<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list__item<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>List Item 1<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list__item<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>List Item 2<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list__item<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>List Item 3<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span></code></pre>
    
        <h3>Inline List</h3>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
    
                <ul class="list list--inline list--nulled">
                    <li class="list__item">List Item 1</li>
                    <li class="list__item">List Item 2</li>
                    <li class="list__item">List Item 3</li>
                </ul>
    
            </div>
        </div>
    
        <pre class=" language-markup"><code class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list list--inline<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list__item<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>List Item 1<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list__item<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>List Item 2<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list__item<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>List Item 3<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span></code></pre>
    
        <hr>
    
        <span class="anchor" id="tables"></span>
    
        <h2>Tables</h2>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
    
                <table>
                    <thead>
                        <tr>
                            <th>Tent Name</th>
                            <th>Tent Type</th>
                            <th>Sleeps</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Camel 575S</td>
                            <td>Dome</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Mule 40T</td>
                            <td>Dome</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Sequoia LT</td>
                            <td>Ridge</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
        </div>
    
        <h3>Stripped Table</h3>
    
        <span class="type-small">Example</span>
        <div class="card card--raised">
            <div class="card__content">
    
                <table class="table table--stripped">
                <thead class="table__head">
                    <tr class="table__row table__row--heading">
                        <th class="table__cell">Tent Name</th>
                        <th class="table__cell">Tent Type</th>
                        <th class="table__cell">Sleeps</th>
                    </tr>
                </thead>
                    <tbody class="table__body">
                        <tr class="table__row">
                            <td class="table__cell">Camel 575S</td>
                            <td class="table__cell">Dome</td>
                            <td class="table__cell">6</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__cell">Mule 40T</td>
                            <td class="table__cell">Dome</td>
                            <td class="table__cell">6</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__cell">Sequoia LT</td>
                            <td class="table__cell">Ridge</td>
                            <td class="table__cell">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <pre class=" language-markup"><code class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>table</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table table--stripped<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>thead</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__head<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>tr</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__row table__row--heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>th</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Tent Name<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>th</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>th</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Tent Type<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>th</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>th</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Sleeps<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>th</span><span class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>tr</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>thead</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>tbody</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__body<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>tr</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__row<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>td</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Camel 575S<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>td</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Dome<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>td</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>6<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>tr</span><span class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>tr</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__row<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>td</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Mule 40T<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>td</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Dome<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>td</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>6<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>tr</span><span class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>tr</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__row<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>td</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Sequoia LT<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>td</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Ridge<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>td</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>table__cell<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>2<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>tr</span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>tbody</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>table</span><span class="token punctuation">&gt;</span></span></code></pre>
    
    
                </main> <!-- /.grid__column -->
                <nav class="sidebar grid__column grid__column--12 grid__column--3--md flex-last flex-first--md">
                    <div class="title-set">
                        <a href="docs.html"><h5 class="title">Getting Started</h5></a>
    
                        <ul class="list list--unstyled list--nulled">
                            <li class="list__item"><a href="docs.html#start-install">Install</a></li>
                            <li class="list__item"><a href="docs.html#start-customize">Customize</a></li>
    
                        </ul>
                    </div> <!-- /.title-set -->
                    <hr>
                    <div class="title-set">
                        <a href="settings.html"><h5 class="title">Settings</h5></a>
                    </div> <!-- /.title-set -->
                    <hr>
                    <div class="title-set">
                        <a href="tools.html"><h5 class="title">Tools</h5></a>
    
                        <ul class="list list--unstyled list--nulled">
                            <li class="list__item"><a href="tools.html#breakpoints">Breakpoints</a></li>
                            <li class="list__item"><a href="tools.html#scales">Scales</a></li>
                            <li class="list__item"><a href="tools.html#box-sizing">Box Sizing</a></li>
                        </ul>
                    </div> <!-- /.title-set -->
                    <hr>
                    <div class="title-set">
                        <a href="generics.html"><h5 class="title">Generics</h5></a>
    
                        <ul class="list list--unstyled list--nulled">
                            <li class="list__item"><a href="generics.html#reset">Reset / Normalizing</a></li>
                        </ul>
                    </div> <!-- /.title-set -->
                    <hr>
                    <div class="title-set">
                        <a href="elements.html"><h5 class="title">Elements</h5></a>
    
                        <ul class="list list--unstyled list--nulled">
                            <li class="list__item"><a href="elements.html#defaults">Defaults</a></li>
                        </ul>
                    </div> <!-- /.title-set -->
                    <hr>
                    <div class="title-set">
                        <a href="objects.html"><h5 class="title">Objects</h5></a>
    
                        <ul class="list list--unstyled list--nulled">
                            <li class="list__item"><a href="objects.html#zones">Zones</a></li>
                            <li class="list__item"><a href="objects.html#containers">Containers</a></li>
                            <li class="list__item"><a href="objects.html#flex-object">Flex Object</a></li>
                            <li class="list__item"><a href="objects.html#grid">Grid</a></li>
                            <li class="list__item"><a href="objects.html#lists">Lists</a></li>
                            <li class="list__item"><a href="objects.html#tables">Tables</a></li>
                        </ul>
                    </div> <!-- /.title-set -->
                    <hr>
                    <div class="title-set">
                        <a href="components.html"><h5 class="title">Components</h5></a>
    
                        <ul class="list list--unstyled list--nulled">
                            <li class="list__item"><a href="components.html#headings">Headings</a></li>
                            <li class="list__item"><a href="components.html#forms">Forms</a></li>
                            <li class="list__item"><a href="components.html#buttons">Buttons</a></li>
                            <li class="list__item"><a href="components.html#cards">Cards</a></li>
                        </ul>
                    </div> <!-- /.title-set -->
                    <hr>
                    <div class="title-set">
                        <a href="utilities.html"><h5 class="title">Utilities</h5></a>
    
                        <ul class="list list--unstyled list--nulled">
                            <li class="list__item"><a href="utilities.html#other-type">Typography Modifiers</a></li>
                            <li class="list__item"><a href="utilities.html#alignments">Typography Alignments</a></li>
                            <li class="list__item"><a href="utilities.html#padding">Padding</a></li>
                            <li class="list__item"><a href="utilities.html#margin">Margin</a></li>
                            <li class="list__item"><a href="utilities.html#display-types">Display Types</a></li>
                            <li class="list__item"><a href="utilities.html#colors">Text Colors</a></li>
                            <li class="list__item"><a href="utilities.html#bg">Background Colors</a></li>
                        </ul>
                    </div> <!-- /.title-set -->
                    <hr>
                    <div class="title-set">
                        <a href="themes.html"><h5 class="title">Themes</h5></a>
                    </div> <!-- /.title-set -->
                </nav>
            </div> <!-- /.grid -->
        </div> <!-- /.container -->
    </div>

{% endblock %}{# end content block #}